/*FIXES Start*/

#root {
    margin-bottom: 2vh;
}


/*Overrides the global path,svg {fill: currentColor}*/

#root path[fill="none"] {
    fill: none;
}


/*Unsets the fixed column on the root's first child, allowing it to get 100% height*/

#root> :first-child {
    height: unset;
}


/*Unsets properties forced at body level*/

#root div[role="button"]:focus {
    outline: none !important;
}

#root button[type="button"],
.data-explorer button[type="reset"],
.data-explorer button[type="submit"] {
    /*padding: unset;*/
    background-color: unset;
    border-radius: unset;
    box-shadow: unset;
    border: unset;
    line-height: unset;
    min-height: unset;
    min-width: unset;
}

.data-explorer div[role="button"] {
    /*padding: 2px 4px 2px 4px;*/
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: unset;
    box-shadow: unset;
    border: unset;
}


/*Unsets the color change on focus set at body level*/

#root a,
#root .button:focus,
#root [type=button]:focus,
#root [type=reset]:focus,
#root [type=submit]:focus,
#root button:focus {
    color: unset !important;
    outline: none !important;
    outline-offset: none !important;
}

#root button:hover {
    color: #1cabe2;
}

#root .pt-tag-remove:before {
    color: black;
}

#root .pt-tag-remove {
    font-family: "Icons16", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    opacity: 0.8 !important;
    padding: 2px;
    min-width: unset;
}


/*Move the scrollbar on top of the table*/
.tableScrollWrapper1 {
    transform: rotate('180deg');
    overflow-x: auto;
}

.tableScrollWrapper2 {
    transform: rotate('180deg');
}

/*Forces additional fonts to fix an issue on OSX: doesn't have Segoe*/

#root div,
#root a {
    font-family: "Segoe UI", "Roboto", "Ubuntu", "Open Sans", "sans-serif";
}


/*FIXES END*/


/*Browser error*/

#browserError {
    padding: 50px 30px 30px 30px;
    width: 100%;
}

.innerBrowserError {
    padding: 1px 20px 4px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #f0f0f1;
}


/*Browser error*/


/*Additional DE Styling*/

.currentFilterContainer {
    margin-bottom: 20px;
    border-radius: 6px;
}

.TableConfig_wrapper {
    padding-top: 20px;
    border-top: 2px solid black;
    margin-top: 20px;
}

.header_download {
    display: flex;
    justify-content: space-between;
}

.de_toolbar_items_wrapper {
    border-top: none !important;
}

.de_vis_toolbar_wrapper {
    border-top: none !important;
}

.header_download .de_toolbar_items_wrapper button {
    border-top: none !important;
    background-color: #1cabe2 !important;
    border: 3px solid #1cabe2 !important;
    border-radius: 5px !important;
    margin: 1px !important;
    padding: 6px 12px;
}

.header_download .de_toolbar_items_wrapper button::before {
    color: #fff;
    margin-right: 4px !important;
}

.header_download .de_toolbar_items_wrapper .pt-button {
    color: #fff;
    text-decoration: none;
    display: flex;
}

.header_download .de_toolbar_items_wrapper .pt-popover-open span {
    color: #fff;
}

.div_lastnobs {
    margin-bottom: 20px;
}

.de_toolbar_items_wrapper {
    flex-wrap: nowrap;
}

.cell_flag {
    color: #47494e;
}


/*Limited data message box */

.div_dataLimited {
    background-color: #fffbe5;
    color: #5c3c00;
    padding: 3px 15px;
    margin: 15px 0 5px 0;
    border-radius: 6px;
}

.dataLimited_msgBox_trans {
    -webkit-transition: 1.0s;
    -moz-transition: 1.0s;
    -o-transition: 1.0s;
    transition: 1.0s;
    opacity: 0;
    visibility: hidden;
}


/*Copyright footer*/

#root .div_footer {
    color: #7A7A7A;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
}


/*indicator links, from DE to Indicator Profile*/

.indicatorEntry {
    display: list-item;
    background-color: rgba(19, 124, 189, 0.15);
    color: #106ba3;
    padding: 2px 6px;
    margin: 5px;
    width: fit-content;
    border-radius: 3px;
    cursor: pointer;
    list-style: none;
}

.goToIndic {
    font-weight: bold;
}

.div_IndicatorLink {
    background-color: #f0f0f1;
    padding: 3px 15px;
    margin: 15px 0 5px 0;
    border-radius: 6px;
}


/*dataflow navigator*/

.dfNav_item {
    background-color: #f0f0f1;
    text-align: center;
    margin-bottom: 12px;
    font-size: 14px;
}

.dfNav_dfnametop {
    padding: 6px 6px 6px 6px;
}

.df_nav_dfname {
    padding: 3px 6px 3px 6px;
    font-weight: 900;
}

.dfNav_link {
    color: #0297c9;
    padding: 6px 6px 6px 6px;
    text-decoration: underline;
}


/*Mobile view filters*/

.narrow_btnOpenFilters {
    background-color: white;
    color: black;
    width: 100%;
}

.narrow_btnOpenFilters:hover {
    color: black !important;
}

.narrow_btnOpenFilters .pt-icon-settings {
    padding-right: 8px;
}

.narrow_btnCloseFilters {
    width: 100%;
}

.hier_sel {
    background-color: #137cbd;
}

.hier_unsel {
    background-color: #ffffff;
}

.hierarchy_tree {
    font-size: 14px;
    ;
}


/*Leaflet*/

.map_info {
    padding: 4px;
    background-color: #ffffff;
}

.countryLabel_custom {
    background: rgba(255, 255, 255, 0.2) !important;
    border: 0 !important;
    padding: 1px !important;
    border-radius: 0px !important;
    box-shadow: 0 0px 0px !important;
}

#de_map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#de_map_message {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(221, 221, 221, 0.95);
    z-index: 200;
    padding: 25px 20px 20px 20px;
}

#de_map_message div {
    margin-top: 16px;
}

.mapFiltersGroup {
    margin: 16px 0 12px 0;
    display: flex;
    flex-direction: column;
}

.mapSubfilterGroup {
    display: flex;
    margin: 0 8px 8px 0;
}

.mapSubfilterGroup label {
    margin-right: 6px;
    flex-grow: 1;
    font-weight: bold;
    flex-basis: 0;
}

.mapSubfilterSel {
    flex-grow: 3;
    flex-basis: 0;
}


/* Without this fix the map does not appear*/

#de_map .leaflet-image-layer,
#de_map .leaflet-layer,
#de_map .leaflet-marker-icon,
#de_map .leaflet-marker-shadow,
#de_map .leaflet-pane,
#de_map .leaflet-pane>canvas,
#de_map .leaflet-pane>svg,
#de_map .leaflet-tile,
#de_map .leaflet-tile-container,
#de_map .leaflet-zoom-box {
    position: relative;
}


/*Leaflet end*/


/*Fix issues in Drupal*/
.menu-explore ul {
    margin-top: unset;

}

.dropdown-container ul {
    margin-top: unset;
}
/*Fix issues in Drupal end*/